.question-answer-card {
  box-shadow: 2px 2px 4px #ccc;
  width: 100%;
  margin-bottom: 2rem;
}
.question {
  display: flex;
  justify-content: space-between;
}

.icon-box {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  margin-bottom: -2px;
}
