.question-answer-card {
  width: 100%;
  margin-bottom: 2rem;
}
.question {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 0;
}

.icon-box {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  margin-bottom: -2px;
}

.question-info {
  background: #ffffff;
  padding: 0.5rem 1rem;
}
